<div id="<%= dom_id grade %>">
  <p>
    <strong>User:</strong>
    <%= grade.user_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= grade.course_id %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= grade.grade %>
  </p>

</div>
