<div id="<%= dom_id training %>">
  <p>
    <strong>Name:</strong>
    <%= training.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= training.description %>
  </p>

  <p>
    <strong>Credit:</strong>
    <%= training.credit %>
  </p>

</div>
